*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    
--Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
--Desaturated2-Dark-Cyan: hsl(180, 46%, 90%);
/* ### Neutral */
/* background */
--Light-Grayish-Cyan : hsl(180, 52%, 96%);
/* (Filter Tablets) */
--Light2-Grayish-Cyan : hsl(180, 31%, 95%);
--Dark-Grayish-Cyan: hsl(180, 8%, 52%);
--Very-Dark-Grayish-Cyan : hsl(180, 14%, 20%);
}

body{
    font-size: 15px;
    font-family: 'League S partan', sans-serif;
    background-color: white;
    /* background-color: var(--Light-Grayish-Cyan); */
}

header {
    height: 20vh;
    background-color: var(--Desaturated-Dark-Cyan);
    background-image: url('./images/bg-header-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

main{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    padding-left: 9em;
    padding-right: 9em;
    /* width: 1150px; */
    /* max-width: 100%; */
   background-color: var(--Light-Grayish-Cyan);
}

.job-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    /* gap: 3em; */
    /* margin-top: 2em; */
    margin-bottom: 2em;

    background-color: white;
    /* background-color: var(--Light2-Grayish-Cyan); */
    box-shadow:  0px 4px 18px .04px var(--Dark-Grayish-Cyan);
    border-radius: 8px;
    /* border: .2px solid rgba(cyan, cyan, cyan, 0.5); */
}

.position {
    color: var(--Very-Dark-Grayish-Cyan);
    font-weight: bolder;
    
}

.listing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.listing-border{
    border-left: 6px solid var(--Desaturated-Dark-Cyan);
}



button {
    
    font-variant: small-caps;
    border-radius: 15px;
    color: var(--Light-Grayish-Cyan);
    border: none;
}

.new {
    background-color: var(--Desaturated-Dark-Cyan);
    width: 50px;
    padding: .25em;
}

.featured {
    background-color: var(--Very-Dark-Grayish-Cyan);
    width: 85px;
    padding: .25em 0;
}


/*.job-title {
    display: flex;
    align-items: center;
    gap: .5em;
    border: 1px solid red; 
}*/

.job-details{
    line-height: 1em;
    /* padding-top: 1px; */
    height: 80px;
    /* margin-top: 14px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: .8em;

    /* border: 1px solid red; */

}

.job-desc {
    margin-top: .2em;
    color: var(--Desaturated-Dark-Cyan);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .5em;
    font-weight: bolder;
}

img {
    height: 80px;
}


.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .6em;
    color: var(--Dark-Grayish-Cyan);
    font-size: 15px;
    font-weight: bold;
    /* word-spacing: 1px; */
}

.dot {
    width: 3px;
    height: 3px;
    border-radius: 100px;
    background-color: var(--Dark-Grayish-Cyan);
}

.roles-languages {
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--Desaturated-Dark-Cyan);
    /* background-color: var(--Desaturated2-Dark-Cyan); */
}

.roles-languages > p {
    background-color: var(--Light-Grayish-Cyan);
    border: 1px solid var(--Light-Grayish-Cyan);
    padding: .5em;
    font-weight: bold;
    border-radius: 5px;
}

.hide {
    display: none;
}

@media screen and (max-width: 1030px) {
    main{
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media screen and (max-width: 855px) {
    main {
        padding-left: 1em;
        padding-right: 1em;
    }

    .roles-languages {
        flex-wrap: wrap;
        gap: .7em;
    }

    .job-card {
        padding: 2em .6em;
    }
    
    .about {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        gap: .1em;
      }
}

@media screen and (max-width: 769px) {
    .roles-languages {
        gap: .5em;
    }

    main {
        /* width: 1000px; */
        padding-left: .5em;
        padding-right: .5em;
    }

    .job-card {
        /* gap: 0; */
        padding: .5em .5em;
    }

    .about {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        gap: .1em;
      }
}

@media screen and (max-width: 680px) {

    header {
        background-image: url('./images/bg-header-mobile.svg');
    }

    .hide {
        display: block;
        background-color: var(--Dark-Grayish-Cyan);
        height: 1px;
        width: 100%;
    }

    main {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .job-card {
        flex-direction: column;
        align-items: flex-start;
        padding: 2em 1.5em;
        gap: 2em;
        margin-bottom: 3em;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .listing {
        /* display: flex; */
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0em;
        position: relative;
    }

    img{
        position: absolute;
        top: -56px;
        height: 50px;
    }

    .job-details{
        padding-top: .5em;
        height: 100px;
        gap: 1.5em;
    }

    .job-desc {
        gap: 1.8em;
    }

    .position {
        font-size: 15px;
    }

    .about{
        font-size: 15px;
        gap: .7em;
    }

    .roles-languages {
        flex-wrap: wrap;
        gap: 1.5em;
    }

    

}
    
